<Alloy>
	<View id='container'>
		<View id='settingsView'>
			<TableView id='settingsTable'>
				<TableViewRow id='notificationRow'>
					<Label id='pushNotificationsLabel'/>
					<Switch id="pushNotificationsSwitch"/>
				</TableViewRow>
				<TableViewRow id='themeRow'>
					<Label id='themeLabel'/>
					<Switch id="themeSwitch"/>
				</TableViewRow>
				<TableViewRow id='soundsRow'>
					<Label id='soundsLabel'/>
					<Switch id="soundsSwitch"/>
				</TableViewRow>
			</TableView>
		</View>
	</View>
</Alloy>