<Alloy>
	<View id='container'>
		<TableView id='settingsTable'>
			<TableViewRow id='notificationsRow'>
				<Label id='pushNotificationsLabel'/>
				<Switch id="pushNotificationsSwitch"/>
			</TableViewRow>
			<TableViewRow id='themeRow'>
				<Label id='themeLabel'/>
				<Switch id="themeSwitch"/>
			</TableViewRow>
		</TableView>
	</View>
</Alloy>